* {/*all elements in this size*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {/*the body's background color*/
    background-color: #d9dcd6;
}

header {/*style "header" class */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {/* style heading 1 under "header" class*/ 
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {/*style text"seo" in heading 1 under "header" class*/ 
    color: #d9dcd6;
}

header nav {/*style all the <nav> elements under "header" class*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {/*style all unorder lists in <nav> element under "header" class*/
    list-style-type: none;
}

header nav ul li {/*style each list */
    display: inline-block;
    margin-left: 25px;
}

a {/* style all the anchors*/
    color: #ffffff;
    text-decoration: none;
}

p {/* style all the paragraph*/
    font-size: 16px;
}

.hero {/*style "hero" class*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {/*style "float-left" class img*/
    float: left;
    margin-right: 25px;
}

.float-right {/*style "float-right" class img*/
    float: right;
    margin-left: 25px;
}

.content {/*style "content" class from line30 to line51*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {/*style "content" class from line52 to line74*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {/*style "benefit-lead" class*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {/*style "benefit-brand" class*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {/*style "benefit-cost" class*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {/*style heading 3 under "benefit-lead" class*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {/*style heading 3 under "benefit-brand" class*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {/*style heading 3 under "benefit-cost" class*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {/*style heading 3 under "benefit-lead" class*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {/*style img under "benefit-brand" class*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {/*style img under "benefit-brand" class*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {/*style "search-engine-optimization" class*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {/*style "online-reputation-management" class*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {/*style "social-media-marketing" class*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {/* style img under "search-engine-optimization" class */
    max-height: 200px;
}

.online-reputation-management img {/* style img under "online-reputation-management" class */
    max-height: 200px;
}

.social-media-marketing img {/* style img under "social-media-marketing" class */
    max-height: 200px;
}

.search-engine-optimization h2 {/* style heading2 under "search-engine-optimization" class */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {/* style heading2 under "online-reputation-management " class */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {/* style heading2 under "social-media-marketing " class */
    margin-bottom: 20px;
    font-size: 36px;
}

footer {/* style "footer" class*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {/* style heading2 under "footer" class*/
    font-size: 20px;
}
